.security-dashboard--overview {
    padding-bottom: 0 !important;

    > .row {
        &:nth-child(2) {
            border-bottom: 1px solid $light-gray;
        }

        > div:first-child {
            border-right: 1px solid $light-gray;
        }
    }

    .security-dashboard--entry {
        border-bottom: none;
        border-right: 1px solid $light-gray;
        padding-bottom: 15px;
        text-align: center;

        &:last-child {
            border-right: none;
        }

        p {
            height: 40px;
        }

        .security-dashboard__entry-status-icon {
            display: block;
        }
    }
}

.security-dashboard--category {
    background: $white;
    padding: 15px;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 30px;
    }

    .security-dashboard--category-title {
        border-bottom: 1px solid $light-gray;
        font-size: 18px;
        font-weight: 600;
        padding: 0 10px 7px;
        text-align: left;

        span {
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: calc(100% - 20px);
        }

        .fa {
            color: #555555;
            font-size: 16px;
            margin: 0;
            margin-right: 5px;
        }
    }
}

.security-dashboard--entry {
    padding: 10px;
    border-bottom: 1px solid $light-gray;

    &:last-child {
        border-bottom: none;
    }

    .security-dashboard__entry-status-icon {
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        i {
            margin-top: 20px;
        }
    }

    .security-dashboard--entry-title {
        font-weight: 600;
        padding: 10px 0;
        display: block;
        font-size: 16px;
    }

    ul {
        list-style: none;
        padding-left: 0;
        margin-left: 0;
        float: left;
    }

    .security-dashboard--entry-dismiss {
        float: right;
    }
}

.security-dashboard--status__healthy {
    i {
        color: $green;
    }
}

.security-dashboard--status__warning{
    i {
        color: $orange;
    }
}

.security-dashboard--status__unhealthy {

    i {
        color: $red;
    }
}

.security-dashboard--status__unknown {
    i {
        color: $light-gray;
    }
}
